{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "@stylistic",
        "@typescript-eslint",
        "spellcheck"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react-hooks/recommended"
    ],
    "rules": {
        "eqeqeq": [
            "error",
            "smart"
        ],
        "@stylistic/indent": "error",
        "@stylistic/quotes": [
            "error",
            "single"
        ],
        "@stylistic/arrow-parens": "error",
        "@stylistic/arrow-spacing": "error",
        "@stylistic/brace-style": "error",
        "@stylistic/computed-property-spacing": [
            "error",
            "never"
        ],
        "@stylistic/jsx-quotes": [
            "error",
            "prefer-single"
        ],
        "@stylistic/keyword-spacing": [
            "error",
            {
                "before": true
            }
        ],
        "@stylistic/semi": "error",
        "@stylistic/space-before-function-paren": "error",
        "@stylistic/space-infix-ops": "error",
        "@stylistic/space-unary-ops": "error",
        "@typescript-eslint/no-unused-vars": "error",
        // to enforce using type for object type definitions, can be type or interface
        "@typescript-eslint/consistent-type-definitions": [
            "error",
            "type"
        ],
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        "react/prop-types": "off",
        "spellcheck/spell-checker": [
            "error",
            {
                "comments": true,
                "strings": true,
                "identifiers": true,
                "templates": true,
                "lang": "en_US",
                "skipWords": [
                    "azs",
                    "fullname",
                    "isob",
                    "localhost",
                    "oidc",
                    "openid",
                    "pem",
                    "pki",
                    "ssm",
                    "tls",
                    "workteams",
                    "acl",
                    "adadelta",
                    "adagrad",
                    "adam",
                    "adc",
                    "amazonaws",
                    "ami",
                    "amis",
                    "amz",
                    "amzn2",
                    "apigateway",
                    "apis",
                    "arn",
                    "auc",
                    "authorizer",
                    "autobuild",
                    "autosuggest",
                    "aws",
                    "awsui",
                    "axios",
                    "borderless",
                    "bilstm",
                    "blazingtext",
                    "bool",
                    "bursty",
                    "bylevel",
                    "bynode",
                    "bytree",
                    "cancelable",
                    "cardinality",
                    "cbow",
                    "centroids",
                    "cfn",
                    "cidr",
                    "checkbox",
                    "cloudscape",
                    "cloudtrail",
                    "cloudwatch",
                    "cnn",
                    "cognito",
                    "conv1",
                    "conv2",
                    "cors",
                    "colsample",
                    "colspan",
                    "colmaker",
                    "comparator",
                    "convolutional",
                    "cpu",
                    "cooldown",
                    "csv",
                    "ctx",
                    "cwl",
                    "dask",
                    "dataset",
                    "datasets",
                    "deepar",
                    "defaultrole",
                    "ddb",
                    "debounce",
                    "debounced",
                    "decrypt",
                    "deeplab",
                    "depthwise",
                    "deterministically",
                    "dhcp",
                    "dimensionality",
                    "directionality",
                    "dismissible",
                    "distro",
                    "dkr",
                    "dns",
                    "docx",
                    "dom",
                    "dropdown",
                    "dropzone",
                    "dsplit",
                    "dtype",
                    "dynamodb",
                    "ec2",
                    "ecr",
                    "elasticmapreduce",
                    "eql",
                    "embeddedable",
                    "embeddings",
                    "emr",
                    "encodings",
                    "entrie",
                    "enum",
                    "enums",
                    "entrypoint",
                    "eps",
                    "esc",
                    "evenodd",
                    "faiss",
                    "fcn",
                    "figlet",
                    "fjlt",
                    "flashbar",
                    "frontend",
                    "func",
                    "gaussian",
                    "gbtree",
                    "gblinear",
                    "gp2",
                    "gpu",
                    "grawlix",
                    "guid",
                    "gte",
                    "gzip",
                    "hadamard",
                    "hadoop",
                    "haspopup",
                    "hcnn",
                    "histmaker",
                    "hostnames",
                    "hpo",
                    "href",
                    "huber",
                    "hvm",
                    "hyperband",
                    "hyperparameter",
                    "hyperparameters",
                    "iam",
                    "identifier",
                    "idp",
                    "iframe",
                    "ing",
                    "Inprogress",
                    "Inservice",
                    "instanceof",
                    "interactable",
                    "ipinsights",
                    "iter",
                    "ivf",
                    "jupyter",
                    "jupyterlab",
                    "keycloak",
                    "keymanager",
                    "keypath",
                    "keypaths",
                    "keyup",
                    "kmeans",
                    "kms",
                    "knn",
                    "lda",
                    "len",
                    "linkify",
                    "lloyd",
                    "logitraw",
                    "logloss",
                    "lossguide",
                    "lte",
                    "lustre",
                    "mae",
                    "matcher",
                    "matchers",
                    "mem",
                    "memoize",
                    "merror",
                    "mlogloss",
                    "mlp",
                    "mls",
                    "mlspace",
                    "msd",
                    "mse",
                    "mult",
                    "multiclass",
                    "multilayer",
                    "namespace",
                    "ndcg",
                    "nlists",
                    "ngrams",
                    "nms",
                    "nthread",
                    "ntm",
                    "nullable",
                    "num",
                    "oidc",
                    "openid",
                    "optimizers",
                    "overfit",
                    "overfitting",
                    "paginator",
                    "pathname",
                    "pca",
                    "perceptron",
                    "persistor",
                    "poisson",
                    "pos",
                    "posinset",
                    "preflight",
                    "presigned",
                    "pretrained",
                    "psp",
                    "quantile",
                    "quantiles",
                    "randomcutforest",
                    "readonly",
                    "realtime",
                    "redux",
                    "regressor",
                    "relu",
                    "repo",
                    "req",
                    "rescale",
                    "rescaling",
                    "resize",
                    "resizer",
                    "resnet",
                    "retryable",
                    "revalidate",
                    "rmdir",
                    "rmse",
                    "rmsprop",
                    "rowindex",
                    "runtimes",
                    "sagemaker",
                    "scaler",
                    "scape",
                    "sdk",
                    "selectable",
                    "serializable",
                    "serverless",
                    "setsize",
                    "sgd",
                    "sharded",
                    "signin",
                    "signout",
                    "skipgram",
                    "softmax",
                    "softprob",
                    "squarederror",
                    "ssd",
                    "str",
                    "sts",
                    "submenu",
                    "subnet",
                    "subnets",
                    "subsample",
                    "subvectors",
                    "subword",
                    "subwords",
                    "svg",
                    "textarea",
                    "textbox",
                    "tez",
                    "theming",
                    "tol",
                    "toolbars",
                    "tooltip",
                    "tsx",
                    "ttl",
                    "tunable",
                    "txt",
                    "tweedie",
                    "uid",
                    "uint",
                    "unbias",
                    "unbiases",
                    "unbiasing",
                    "untag",
                    "untouch",
                    "updaters",
                    "uri",
                    "urls",
                    "Usd",
                    "usr",
                    "utf8",
                    "vec",
                    "versioned",
                    "vgg",
                    "vgg16",
                    "virtualization",
                    "vpc",
                    "vpcs",
                    "workteam",
                    "warmpool",
                    "xgboost",
                    "xlarge",
                    "xliff",
                    "xml",
                    "xxl",
                    "xxs",
                    "zod",
                    "zoneout"
                ],
                "skipIfMatch": [
                    "http://[^s]*",
                    "^[-\\w]+\/[-\\w\\.]+$",
                    "Ec2*",
                    "\\w{26}"
                ],
                "minLength": 3
            }
        ]
    },
    "env": {
        "browser": true,
        "es2021": true
    }
}