@use '@cloudscape-design/design-tokens/index' as awsui;

.drag-over {
    background: awsui.$color-background-container-content  !important;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: dashed;
    z-index: 999999;
    outline-offset: -2rem;
    
}   

.drag-over::after {
    content: "Drag the files and folders you want to upload here"
}

.dropzone {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999999;
    background: none;
}

.display-none {
    display: none !important;
}

.drop-box {
    border: dashed 1px;
    padding: 15px;
    border-radius: awsui.$border-radius-container;
}
